<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="WebEntities" connectionString="metadata=res://*/WebModel.csdl|res://*/WebModel.ssdl|res://*/WebModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=OMS144\SQLEXPRESS;initial catalog=OmsCorporate;persist security info=True;user id=OmsWebUser;password=DevPassword;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="WebForms"/>
    <!-- User configurable keys -->
    <add key="SoulsPerSecond" value="47"/>
    <!-- End user configurable keys -->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime requestValidationMode="4.5" targetFramework="4.5" encoderType="System.Web.Security.AntiXss.AntiXssEncoder, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    <machineKey compatibilityMode="Framework45"/>
    <!--Register common user controls-->
    <pages controlRenderingCompatibilityVersion="4.5">
      <controls>
        <add tagPrefix="uc" src="~/UserControls/SiteHeader.ascx" tagName="SiteHeader"/>
        <add tagPrefix="uc" src="~/UserControls/SiteNavigation.ascx" tagName="SiteNavigation"/>
        <add tagPrefix="uc" src="~/UserControls/SiteFooter.ascx" tagName="SiteFooter"/>
        <add tagPrefix="uc" src="~/UserControls/SiteSideNavigation.ascx" tagName="SiteSideNavigation"/>
        <add tagPrefix="uc" src="~/UserControls/TN3.ascx" tagName="TN3"/>
        <add tagPrefix="uc" src="~/UserControls/PayPal.ascx" tagName="PayPal"/>
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
  </system.webServer>
</configuration>