body {
    background: #fff url('../Images/bodyBkg-Home.gif') repeat-x !important;
}

/* ID specific definitions */

#introContainer {
    float: left;
    margin-top: 20px;
}

#introParagraph {
    width: 600px;
}

#storyBox {
    margin-top: 20px;
    height: 175px;
    width: 275px;
    float: right;
}
    #storyBox img {
        float: left;
    }
    #storyBox a {
        position: relative;
        float: left;
    }

#storyBoxCount {
    float: right;
    margin: 10px 10px 0 0;
}
    #storyBoxCount span {
        color: #9C1C1F;
    }
    #storyBoxCount a {
        outline: none;
        text-decoration: none;
    }